
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Clarivate</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#" routerLink="show">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary" routerLink="showtrue" >completed</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-secondary" routerLink="showfalse">todo</button>
    </li>

  </ul>
</nav>
<router-outlet></router-outlet>
