<p>add-product-sir works!</p>
<p>add-product works!</p>
<div class="container">
  <form #addData="ngForm" (ngSubmit)="addProduct(addData)">
    <div class="form-group">
      <label for="exampleInputEmail1">name</label>
      <input type="text" class="form-control"
      ngModel
       id="id"
       #productName="ngModel"
       name="productName">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">desc</label>
      <input type="text_fields" class="form-control"
      ngModel
       id="productDescription"
       #productDescription="ngModel"
        name="productDescription">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">price</label>
      <input type="text_fields" class="form-control"
      ngModel
       id="productPrice"
       #productPrice="ngModel"
      name="productPrice">
    </div>


    <div class="form-group">
      <label for="exampleInputEmail1">url</label>
      <input type="text_fields" class="form-control"
      ngModel
       id="productImageURL"
       #productImageURL="ngModel"
      name="productImageURL">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
